<nav class="sidebar-nav">
    <ul id="sidebarnav p-4">
        <li class="user-profile" [class.active]="showMenu === 'user'">
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" (click)="addExpandClass('user')" aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'user'">
            <li><a href="javascript:void()">My Profile </a></li>
            <li><a href="javascript:void()">My Balance</a></li>
            <li><a href="javascript:void()">Inbox</a></li>
            <li><a href="javascript:void()">Account Setting</a></li>
            <li><a href="javascript:void()">Logout</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <!-- First level menu -->
        <li>
          <a routerLink="/user" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-book mr-3"></i>User
          </a>
        </li>
        <li>
          <a routerLink="/books" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-book mr-3"></i>Books
          </a>
        </li>
        <li>
          <a routerLink="/genres" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-list-alt mr-3"></i>Genres
          </a>
        </li>
    </ul>
</nav>
