<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                    <!-- dark Logo text -->
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0 ">
                <!-- This is  -->
                <li class="nav-item m-l-10">
                    <a class="nav-link sidebartoggler hidden-lg-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0 ml-auto">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-sm-down search-box">
                    <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-search"></i>
                    </a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter">
                        <a class="srh-btn">
                            <i class="ti-close"></i>
                        </a>
                    </form>
                </li>
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item d-flex align-items-center">
                    <!-- <button class="uk-button uk-button-default" type="button"></button> -->
                    <div class="d-flex">
                        <a routerLink="/account" class="pr-1 py-0 ins-a-brand">
                            <i class="material-icons">account_circle</i>
                        </a>
                        <small>
                            <a routerLink="/account" class="nav-link ins-a-brand px-0 my-0">
                                <div *ngIf="userNew">
                                    {{userNew.first}}
                                </div>
                            </a>
                        </small>
                    </div>
                    <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 800">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk">
                                <a routerLinkActive="active" routerLink="/account">Account</a>
                            </li>
                            <li class="uk">
                                <a routerLinkActive="active" routerLink="/login">Login</a>
                            </li>
                            <li class="uk">
                                <a routerLinkActive="active" routerLink="/singout">Singout</a>
                            </li>
                            <li class="uk-active">
                                <a routerLinkActive="active" (click)="logout()" routerLink="/login">Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>