<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                    <!-- dark Logo text -->
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0 ">
                <li class="nav-item m-l-10">
                    <div class="uk-offcanvas-content">

                        <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-slide">menu</button>
                    
                        <div id="offcanvas-slide" uk-offcanvas="overlay: false">
                            <div class="uk-offcanvas-bar">
                    
                                <button class="uk-offcanvas-close" type="button" uk-close></button>
                    
                                    <ul class="ins-sidebar">
                                        <li>
                                            {{userNew.first}}
                                        </li>
                                        <li>
                                            <a routerLink="/admin/books" class="ins-a-brand" routerLinkActive="active">Books</a>
                                        </li>
                                        <li>
                                            <a routerLink="/admin/genres" class="ins-a-brand" routerLinkActive="active">Genres</a>
                                        </li>
                                    </ul>
                    
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0 ml-auto">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item  search-box">
                    <nav  uk-navbar>
                        <div class="uk-navbar-right">
                    
                            <div>
                                <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
                                <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                                    <form class="uk-search uk-search-navbar uk-width-1-1">
                                        <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                                    </form>
                                </div>
                            </div>
                    
                        </div>
                    </nav>
                </li>
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item d-flex align-items-center">
                    <!-- <button class="uk-button uk-button-default" type="button"></button> -->
                    <div class="d-flex">
                        <a routerLink="/admin/account" class="pr-1 py-0 ins-a-brand">
                            <i class="material-icons">account_circle</i>
                        </a>
                        <small>
                            <a routerLink="/admin/account" class="nav-link ins-a-brand px-0 my-0">
                                <div *ngIf="userNew">
                                    {{userNew.first}}
                                </div>
                            </a>
                        </small>
                    </div>
                    <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 800">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk">
                                <a routerLinkActive="active" routerLink="/admin/account">Account</a>
                            </li>
                            <li class="uk-active">
                                <a routerLinkActive="active" (click)="logout()" routerLink="/login">Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>