/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}
table td:last-child,  td:nth-of-type(5) {
    width: 50px;
  };
table  td, th {
    border: 1px solid #eee;
  }
.darken-3 {
  background-color: #1c2a48 !important;
}

.table-banner tbody td:nth-of-type(3) {

    width: 100px;

}
.error {
  color: crimson;
  margin: 0;
  padding: 5px 0;
}
