<div *ngIf="userNew">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-3">
        <h4 class=" ins-bg-second  p-2 mb-3">{{userNew.first}} {{userNew.last}}</h4>
        <div class="user-menu">
          <ul>
            <li><a class="ins-a-brand">Thông tin tài khoản</a></li>
            <li><a class="ins-a-brand" >Thông báo của tôi</a></li>
            <li><a class="ins-a-brand">Quản lí đơn hàng</a></li>
            <li><a class="ins-a-brand">Sổ địa chỉ</a></li>
            <li><a class="ins-a-brand">Thông tin thanh toán</a></li>
            <li><a class="ins-a-brand">Sản phẩm bạn đã xem</a></li>
            <li><a class="ins-a-brand">Hỏi đáp</a></li>
          </ul>
        </div>
      </div>
      <div class="col-8 col-md-9">
          <h4 class=" ins-bg-second  p-2 mb-3">Thông tin tài khoản</h4>
          <div>
            <table>
              <tr>
                <td>Họ tên:</td>
                <td> {{userNew.first}} {{userNew.last}}</td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td>{{userNew.phone}}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{userNew.email}}</td>
              </tr>
            </table>
          </div>
          <a (click)="logout()" routerLink="/login">Logout</a>
          <a (click)="test()">test</a>
      </div>
    </div>
  </div>
</div>
